.header {
  background: linear-gradient(to bottom, #175460, #0f9a95);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  span {
    margin: 0 10px;
    font-weight: bold;
  }
}